.main-content .pw-con{
	width:1000px;
	margin:20px auto;
}
.pw-con form{
	width:400px;
	margin:0 auto;
}
.height-margin{
	width: 100%;
	height: 10px;
}
.control-input{
	height: 35px;
	padding: 0 5px;
	line-height: 28px;
}
.control-label{
	margin-bottom: 10px;
	font-size: 16px;
	display: inline-block;
	color: #525050;
}
#btn-submit{
	background: #19a1f8;
	width: 100px;
	height: 35px;
	margin-top: 20px;
	border: 1px solid #CCC;
	float: right;
}